/**
 * Base styling for the whole page.
 * Provides styling for basic elements and utility classes.
 */

:root {
    --color-bg: #282c34;
    --color-fg: #ffffff;
    --color-primary: rebeccapurple;
    --color-error: red;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: monospace;
    margin: 0;
    padding: 0;
}

select {
    cursor: pointer;
}

/**
 * Hides the element.
 */
.hidden {
    opacity: 0;
    display: none !important;
}

/**
 * Animates the hiding of this element, when it receives the `.hidden` class.
 */
.hide-anim {
    transition:
        opacity 0.5s ease-in,
        display 0.5s step-end;
}

/**
 * Animates the showing of this element, when it loses the `.hidden` class.
 */
.show-anim {
    transition:
        opacity 0.5s ease-out,
        display 0.5s step-start;
}

/**
 * Stack elements on top of each other.
 * Simply a column flex box.
 */
.stack {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

/**
 * For error messages.
 */
.error {
    color: var(--color-error);
    font-style: italic;
}

/**
 * Button styling.
 */
.btn {
    display: inline-block;
    background-color: var(--color-bg);
    cursor: pointer;
    color: var(--color-fg);
    font-size: 24px;
    padding: 8px 16px;
    margin: 16px 8px;
    border: none;
    border-radius: 4px;
    box-shadow:
        0 0 8px 4px var(--color-primary),
        inset 0 0 4px 2px var(--color-primary);
}

.btn:hover, .btn:focus, .btn:active {
    box-shadow:
        0 0 6px 6px var(--color-primary),
        inset 0 0 4px 4px var(--color-primary);
}

/**
 * Fancy text styling.
 */
.text {
    text-shadow: 4px 2px 8px var(--color-primary);
}

/**
 * For main headings.
 */
.heading {
    display: block;
    text-align: center;
    font-size: 32px;
}

/**
 * For `textarea` elements which contain a stringified `MapConfig`.
 */
.map-config {
    display: block;
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-size: 10px;
    box-sizing: border-box;
    resize: none;
}
