/**
 * Base styling for the whole page.
 * Provides styling for basic elements and utility classes.
 */

:root {
    --color-bg: #282c34;
    --color-fg: #ffffff;
    --color-primary: rebeccapurple;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: monospace;
    margin: 0;
    padding: 0;
}

/**
 * Hides the element.
 */
.hidden {
    opacity: 0;
    display: none;
}

/**
 * Animates the hiding of this element, when it receives the `.hidden` class.
 */
.hide-anim {
    transition:
        opacity 0.5s ease-in,
        display 0.5s step-end;
}

/**
 * Animates the showing of this element, when it loses the `.hidden` class.
 */
.show-anim {
    transition:
        opacity 0.5s ease-out,
        display 0.5s step-start;
}

.btn {
    display: inline-block;
    background-color: var(--color-bg);
    cursor: pointer;
    color: var(--color-fg);
    font-size: 24px;
    padding: 8px 16px;
    margin: 16px 8px;
    border: none;
    border-radius: 4px;
    box-shadow:
        0 0 8px 4px var(--color-primary),
        inset 0 0 4px 2px var(--color-primary);
}

.btn:hover, .btn:focus, .btn:active {
    box-shadow:
        0 0 6px 6px var(--color-primary),
        inset 0 0 4px 4px var(--color-primary);
}

/**
 * Absolutely positions the element in the center of the screen.
 */
.float-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
