/**
 * Styling for the /editor page.
 */

.error {
    color: var(--color-error);
    font-style: italic;
}

.editor {
    display: flex;
    justify-content: space-between;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 32px 8px;

    width: 360px;
}

.menu-item {
    display: block;
}

.menu-item:not(:last-child) {
    margin-bottom: 16px;
}

.menu-label {
    display: block;
    font-size: 20px;
    padding: 8px;
}

.input-text {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-size: 18px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    box-shadow:
        0 0 4px 1px var(--color-primary),
        inset 0 0 4px 1px var(--color-primary);
}

.beat-editor {
    width: 480px;
    height: 640px;
    margin: 0 128px;
}

#editor-layout {
    display: flex;
    justify-content: space-evenly;
    width: 256px;
}

.editor-layout-key {
    border-radius: 50%;
    box-shadow: 0 0 2px 2px var(--color-primary);
    color: var(--color-fg);
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}
